$namespace: uatc;

/// @author Frank Dip
/// A new experiment with something I call NS-B--E---M with Sass
/// NS is a namespace prefix
/// BEM hyphens only. Using double hyhens for block and element separators
/// Using triple hyhens for modifier separators
/// Using Sass placeholder classes to reduce repeated code
///
/// Changed the left and right to multiple classes
/// Gotten rid of most of the c-style comments
/// TODO: Need to change the comments to SassDoc
/// @version 1.1

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/////////////////////////////////////////////////
/// Variables
/////////////////////////////////////////////////

// colors
$tan: #fff9c4;
$yellow: #fff176;
$brown: #a1887f;

// Sets the border radius
$border-radius: 5px;

// Aligns the left and right lanterns
$lantern-align: 7%;

// Sets the lantern string border
$latern-string: 1px solid rgba(0,0,0,0.3);

/////////////////////////////////////////////////
/// Placeholer classes
/////////////////////////////////////////////////

// Sets the position to absolute
%position---absolute {position: absolute;}

// Sets the border size style color
%border---one-solid-black {border: 1px solid black;}

%background-image---radial-gradient---tan-yellow-brown {
  background-image: radial-gradient($tan, $yellow, $brown);
}

/********************************************//**
 * Animations Section
 ***********************************************/
/**
 * box-shadow animation image
 * 0% black shadow
 * 25% blue shadow
 * 50% green shadow
 * 75% yellow shadow
 * 100% red shadow
 */
@keyframes box-shadow {
  0% {box-shadow: 0px 0px 42px 10px rgba(0,0,0,0.75);}
  25% {box-shadow: 0px 0px 30px 20px rgba(0,0,255,0.5);}
  50% {box-shadow: 0px 0px 20px 10px rgba(0,255,0,0.25);}
  75% {box-shadow: 0px 0px 30px 20px rgba(255,255,0,0.5);}
  100% {box-shadow: 0px 0px 42px 10px rgba(255,0,0,0.75);}
}

/**
 * box-shadow animation for lantern light
 * 0% bright red
 * 50%
 * 100% dim red
 */
@keyframes lantern-light {
  0% {
    box-shadow: 0px 0px 20px 20px rgba(188,0,0,0.4);
    background-image: radial-gradient(#EF5350, #E53935, #B71C1C);
  }

  50% {
    box-shadow: 0px 0px 20px 20px rgba(195,0,0,0.3);
    background-image: radial-gradient(#EF5350, #E53935, #B71C1C);
  }

  100% {
    box-shadow: 0px 0px 20px 20px rgba(200,0,0,0.2);
    background-image: radial-gradient(#E57373, #F44336, #B71C1C);
  }
}

/********************************************//**
 *  Classes
 ***********************************************/

// .#{$namespace}-card
.#{$namespace}-card {
  margin: 0px auto;
  box-shadow: 5px 5px 5px 0px #111;
  @extend %border---one-solid-black;
  border-radius: $border-radius;
  padding: 10px;
  width: 302px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #FFF;

  // .#{$namespace}-card--header
  &--header {
    position: relative;
    margin: 10px auto;
    @extend %border---one-solid-black;
    border-radius: $border-radius $border-radius 0 0;
    @extend %background-image---radial-gradient---tan-yellow-brown;

    // .#{$namespace}-card--header--lantern
    &--lantern {
      @extend %position---absolute;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 30%;
      width: 25px;
      height: 35px;
      animation: 5s infinite alternate lantern-light;

      // .#{$namespace}-card--header--lantern:before
      &:before{
        @extend %position---absolute;
        top: -10%;
        left: 29%;
        transform: rotate(-45deg);
        border-top: $latern-string;
        border-right: $latern-string;
        width: 10px;
        height: 10px;
        display: block;
        content: "";
      }// close .#{$namespace}-card--header--lantern:before

      // .#{$namespace}-card--header--lantern:after
      &:after {
        @extend %position---absolute;
        bottom: -30%;
        left: 26%;
        border-left: $latern-string;
        border-right: $latern-string;
        width: 10px;
        height: 10px;
        display: block;
        content: "";
      }// close .#{$namespace}-card--header--lantern:after

      // .#{$namespace}-card--header--lantern--text
      &--text {
        @extend %position---absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 20px;
        color: rgba(255,255,0,0.5);
      }// close .#{$namespace}-card--header--lantern--text

      &.#{$namespace}-left {left: $lantern-align;}

      &.#{$namespace}-right {right: $lantern-align;}
    }// closes .#{$namespace}-card--header--lantern

    // .#{$namespace}-card--header--title
    &--title {
      text-align: center;
    }// close .#{$namespace}-card--header--title class
  }// close .#{$namespace}-card--header class

  // .#{$namespace}-card--img
  &--img {
    display: block;
    @extend %border---one-solid-black;
    width: 300px;

    &:hover {
      animation: 3s infinite alternate box-shadow;
    }
  }// close .#{$namespace}-card--img class

  // .#{$namespace}-card--body
  &--body {
    margin-top: 10px;
    @extend %border---one-solid-black;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 10px;
    @extend %background-image---radial-gradient---tan-yellow-brown;

    // .#{$namespace}-card--body--summary
    &--summary {font-style: italic;}

    // .#{$namespace}-card--body--list
    &--list {
      padding-left: 0;
      list-style-type: none;

      // .#{$namespace}-card--body--list--item-title
      &--item-title {font-weight: bold;}
    }// close .uatc-card-body-list class

    // .#{$namespace}-card--body--footer
    &--footer {font-size: x-small;}
  }// close .#{$namespace}-card--body--footer class
}// close .#{$namespace}-card class
